In [1]:
import numpy as np
import pandas as pd
from scipy import sparse
import argparse
import os
from sklearn.model_selection import train_test_split
from collections import Counter
import requests
import io

In [2]:
df = pd.read_csv('./skill_builder_data.csv')
print(df.columns)

Index(['order_id', 'assignment_id', 'user_id', 'assistment_id', 'problem_id',
       'original', 'correct', 'attempt_count', 'ms_first_response',
       'tutor_mode', 'answer_type', 'sequence_id', 'student_class_id',
       'position', 'type', 'base_sequence_id', 'skill_id', 'skill_name',
       'teacher_id', 'school_id', 'hint_count', 'hint_total', 'overlap_time',
       'template_id', 'answer_id', 'answer_text', 'first_action',
       'bottom_hint', 'opportunity', 'opportunity_original'],
      dtype='object')

C:\Users\FAST\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df1 = df[['UserId', 'QuestionId', 'IsCorrect', 'CorrectAnswer',
       'AnswerValue', 'SubjectId']]

In [4]:
df1.shape

(15867850, 6)

In [5]:
df2 = df1[["UserId", "SubjectId", "QuestionId", "IsCorrect"]]

In [6]:
select_rows = df2.loc[(df2['SubjectId'] == '[3, 101, 111, 348]')
                           & (df2['UserId'] == 0)]
select_rows

          UserId           SubjectId  QuestionId  IsCorrect
6422064        0  [3, 101, 111, 348]       19386          1
6429697        0  [3, 101, 111, 348]       11159          0
6435928        0  [3, 101, 111, 348]       23305          1
6445218        0  [3, 101, 111, 348]        8878          0
6509286        0  [3, 101, 111, 348]         110          0
6548263        0  [3, 101, 111, 348]       23685          1
6549429        0  [3, 101, 111, 348]       18808          0
6552783        0  [3, 101, 111, 348]       19265          1
6557123        0  [3, 101, 111, 348]       21405          0
9532594        0  [3, 101, 111, 348]        5407          1
9556048        0  [3, 101, 111, 348]       27288          0
11890064       0  [3, 101, 111, 348]       14715          1

In [7]:
#df1['skill'].unique()

In [8]:
print(df2.isnull().sum())

UserId        0
SubjectId     0
QuestionId    0
IsCorrect     0
dtype: int64

In [9]:
#df2 = df1.dropna(axis = 0, subset=['skill'])

In [10]:
#pred_df = pd.read_csv("/home/fast/Desktop/pred_df.csv")
#pred_df

In [11]:
#combine_content_rating = df1.dropna(axis = 0, subset = ['skill'])

In [12]:
# Group interations by user_id and SubjectId
interactions = (df2.
     groupby(by = ['UserId', 'SubjectId']).
     sum()['IsCorrect'].
     reset_index()
#     rename(columns = {'IsCorrect': 'Rating'})
#     [['UserId', 'SubjectId', 'Name', 'Rating']]
    )

In [13]:
interactions

         UserId            SubjectId  IsCorrect
0             0   [3, 101, 111, 348]          6
1             0   [3, 101, 112, 348]          0
2             0   [3, 101, 113, 337]          2
3             0  [3, 101, 342, 1650]          1
4             0   [3, 101, 348, 349]          2
...         ...                  ...        ...
4297916  118970     [3, 71, 98, 197]          1
4297917  118970     [3, 71, 98, 198]          1
4297918  118970     [3, 71, 98, 199]          0
4297919  118970     [3, 71, 99, 283]          0
4297920  118970     [3, 71, 99, 284]          2

[4297921 rows x 3 columns]

In [14]:
interactions.UserId.nunique()

118971

In [15]:
interactions['content_id'] = interactions['SubjectId'].astype('category').cat.codes

In [16]:
interactions

         UserId            SubjectId  IsCorrect  content_id
0             0   [3, 101, 111, 348]          6          43
1             0   [3, 101, 112, 348]          0          46
2             0   [3, 101, 113, 337]          2          52
3             0  [3, 101, 342, 1650]          1          67
4             0   [3, 101, 348, 349]          2          74
...         ...                  ...        ...         ...
4297916  118970     [3, 71, 98, 197]          1        1116
4297917  118970     [3, 71, 98, 198]          1        1118
4297918  118970     [3, 71, 98, 199]          0        1120
4297919  118970     [3, 71, 99, 283]          0        1123
4297920  118970     [3, 71, 99, 284]          2        1124

[4297921 rows x 4 columns]

In [17]:
interactions["content_id"].nunique()

1125

In [18]:
#print(ratingCount.Rating.min(), ratingCount.Rating.max())

In [19]:
#Rating.groupby(by="skill")["totalRatingCount"].max()

In [20]:
#Rating["skill"].value_counts()

In [21]:
#Rating[(Rating.skill == 'Rounding')]

In [22]:
#df1 = df.rename(columns={"skill_id":"cid","skill_name":"content_name","user_id":"uid"})

In [23]:
#interactions_df = df2.groupby(['uuid', 'problem_id']).sum()['correct'].reset_index()

###### Split dataset

In [24]:
#df2 = df1[["uid", "cid", "content_name", "correct"]]
#df2

In [25]:
# Create a DataFrame with Content Information
articles_df = interactions.groupby(['SubjectId', 'content_id'])\
                                      .agg({'UserId': 'count', 'IsCorrect': np.sum})[["UserId","IsCorrect"]]\
                                      .reset_index()\
                                      .rename(columns={'UserId': 'total_user', 'IsCorrect': 'total_correctness'})

In [26]:
articles_df

,SubjectId,content_id,total_user,total_correctness
0,"[3, 101, 102, 104, 338, 339, 342]",0,89,47
1,"[3, 101, 102, 106, 338, 342]",1,1887,1194
2,"[3, 101, 102, 114, 338, 339]",2,81,51
3,"[3, 101, 102, 116, 338, 342]",3,1864,1530
4,"[3, 101, 102, 118, 338, 340, 341, 342]",4,119,72
...,...,...,...,...
1120,"[3, 71, 98, 199]",1120,3698,3914
1121,"[3, 71, 98, 209]",1121,19174,91985
1122,"[3, 71, 99, 283, 284]",1122,865,3055
1123,"[3, 71, 99, 283]",1123,5380,8727
1124,"[3, 71, 99, 284]",1124,6373,11000

###### Autoencoder

In [27]:
# Split dataset in Train/Test
xtrain_df, xtest_df = train_test_split(interactions, test_size=0.2, random_state=42)

In [28]:
# Creating a sparse pivot table with users in rows and items in columns
xtrain_df_matrix = xtrain_df.pivot_table(index = 'UserId', 
                                 columns = 'content_id', 
                                 values  = 'IsCorrect').fillna(0)

xtrain_df_matrix.shape

(118959, 1125)

In [29]:
# Creating a sparse pivot table with users in rows and items in columns
xtest_df_matrix = xtest_df.pivot_table(index = 'UserId', 
                                 columns = 'content_id', 
                                 values  = 'IsCorrect').fillna(0)

xtest_df_matrix.shape

(115138, 1125)

In [30]:
# # Creating a sparse pivot table with users in rows and items in columns
# matrix = xtrain_df.pivot_table(index = 'UserId', 
#                                  columns = 'content_id', 
#                                  values  = 'IsCorrect').fillna(0)

# matrix

In [31]:
# matrix.values.mean()*100

In [32]:
# input
# X = matrix.values
# y = matrix.values

In [33]:
from tensorflow.keras.optimizers import Adam
from keras.layers import Input, Dense, Dropout
from keras.models import Model
import tensorflow as tf
from keras import regularizers
import datetime, os

input_size = 1125
hidden_size = 512
code_size = 256

Input = Input(shape=(input_size,))
#Encoder
hidden_1 = Dense(hidden_size, activation='selu')(Input)
code = Dense(code_size, activation='selu')(hidden_1)
# Decoder
hidden_2 = Dense(hidden_size, activation='selu')(code)
output = Dense(input_size, activation='selu')(hidden_2)

autoencoder = Model(Input, output)
#opt = tf.keras.optimizers.SGD(learning_rate=0.1)
autoencoder.compile(optimizer= Adam(lr=0.001), loss='mse',metrics= 'accuracy')
hist = autoencoder.fit(xtrain_df_matrix, xtrain_df_matrix, epochs=5, shuffle=True, validation_data=(xtest_df_matrix, xtest_df_matrix))

2022-07-19 12:59:04.542401: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-07-19 12:59:04.542467: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-07-19 12:59:08.398855: E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
2022-07-19 12:59:08.398877: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (fast-Lenovo-Legion-5-15IMH05H): /proc/driver/nvidia/version does not exist
2022-07-19 12:59:08.399081: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
/home/fast/.local/lib/python3.8/site-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)
2022-07-19 12:59:08.817459: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 1070631000 exceeds 10% of free system memory.

Epoch 1/5

2022-07-19 12:59:09.418947: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 1070631000 exceeds 10% of free system memory.

3711/3718 [============================>.] - ETA: 0s - loss: 0.0503 - accuracy: 0.8504

2022-07-19 12:59:32.710979: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 1036242000 exceeds 10% of free system memory.
2022-07-19 12:59:33.276847: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 1036242000 exceeds 10% of free system memory.

3718/3718 [==============================] - 30s 8ms/step - loss: 0.0502 - accuracy: 0.8504 - val_loss: 0.0129 - val_accuracy: 0.8500
Epoch 2/5
3718/3718 [==============================] - 29s 8ms/step - loss: 0.0295 - accuracy: 0.8777 - val_loss: 0.0089 - val_accuracy: 0.8479
Epoch 3/5
3718/3718 [==============================] - 28s 8ms/step - loss: 0.0259 - accuracy: 0.8822 - val_loss: 0.0080 - val_accuracy: 0.8532
Epoch 4/5
3718/3718 [==============================] - 28s 7ms/step - loss: 0.0239 - accuracy: 0.8847 - val_loss: 0.0067 - val_accuracy: 0.8568
Epoch 5/5
3718/3718 [==============================] - 29s 8ms/step - loss: 0.0223 - accuracy: 0.8859 - val_loss: 0.0062 - val_accuracy: 0.8597

In [34]:
np.mean(hist.history['accuracy']) # numpy assumed imported as np

0.8761606931686401

In [28]:
#from tensorflow.keras.utils import plot_model
# plot the autoencoder
#plot_model(model, 'autoencoder.png', show_shapes=True)

In [77]:
# import matplotlib.pyplot as plt

# hist.history.keys() 
# ['acc', 'loss', 'val_acc', 'val_loss'] 
# plt.plot(hist.history['loss']) 
# plt.plot(hist.history['val_loss']) 
# plt.title('model loss') 
# plt.ylabel('loss') 
# plt.xlabel('epoch') 
# plt.legend(['train', 'test'], loc='upper right') 
# plt.show()

In [31]:
autoencoder.evaluate(xtest_df_matrix,xtest_df_matrix)

3599/3599 [==============================] - 7s 2ms/step - loss: 0.0028 - accuracy: 0.8520

[0.002784907817840576, 0.8520470857620239]

In [36]:
pred_score = autoencoder.predict(xtest_df_matrix)

2022-07-19 13:03:10.019327: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 1036242000 exceeds 10% of free system memory.

In [37]:
pred_score.shape

(115138, 1125)

In [38]:
# converting the reconstructed matrix back to a Pandas dataframe
cf_preds_df = pd.DataFrame(pred_score, 
                           columns = xtest_df_matrix.columns, 
                           index   = xtest_df_matrix.index)
cf_preds_df

content_id,0,1,2,3,4,5,6,7,8,9,...,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124
UserId,,,,,,,,,,,,,,,,,,,,,
0,-0.002969,-0.000922,-0.071302,0.019146,0.024392,-0.009204,0.009593,-0.050599,-0.003575,-0.262309,...,-0.060087,0.154055,0.001012,0.150958,-0.002570,0.146520,0.108226,0.018384,-0.173112,0.035453
1,0.000039,-0.020925,0.009905,-0.003027,0.001562,0.020367,0.022053,0.036117,-0.012412,0.103539,...,-0.054434,0.001242,0.003498,-0.012783,-0.017968,0.046838,-0.108941,0.049443,-0.030521,0.077852
3,-0.003041,-0.002956,-0.010450,-0.011635,-0.006326,0.013003,-0.002039,0.006581,-0.009684,0.119840,...,-0.056843,-0.004907,0.005505,0.011912,-0.021145,0.068598,-0.026325,0.013272,-0.009239,0.099238
4,0.004376,-0.013351,-0.006378,0.002040,0.004462,0.015929,0.005539,0.006781,-0.004827,-0.080051,...,-0.068716,0.022154,0.009749,0.031499,-0.019039,0.043468,0.037520,0.045615,-0.026540,0.090819
5,0.004939,-0.012447,-0.000076,-0.020501,0.022069,0.016245,0.023411,0.001077,0.000071,-0.018896,...,-0.021518,-0.019576,0.008465,0.026253,-0.024719,0.070806,-0.048030,0.047069,-0.022434,0.052051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118966,0.008848,0.009726,0.013832,-0.041452,-0.016764,0.021435,-0.000904,-0.046624,0.007623,-0.116467,...,-0.094542,0.081034,0.006908,-0.043368,-0.006988,0.074005,0.241518,-0.028025,-0.049303,0.080210
118967,0.001639,-0.010919,-0.000165,-0.003606,0.006065,0.015005,0.009175,0.019865,-0.005629,0.022312,...,-0.052623,-0.004282,0.007323,-0.013160,-0.019821,0.067215,-0.005746,0.030641,-0.016221,0.089886
118968,0.003185,-0.007963,-0.012296,0.009212,0.009921,0.008356,0.001655,0.008713,-0.006078,-0.008931,...,-0.096368,-0.035195,0.008623,-0.038994,-0.016703,0.081695,-0.118140,0.012121,0.016646,0.079387
118969,0.000194,-0.012424,0.003388,0.014407,0.000514,0.011608,0.011746,0.004759,-0.011146,0.041213,...,-0.018569,-0.000098,0.003733,-0.022567,-0.013705,0.062243,-0.078974,0.017489,-0.020958,0.084024
118970,-0.003871,0.020189,-0.041747,0.056841,-0.012501,0.036565,-0.049641,0.137425,-0.009997,2.249142,...,-0.046417,0.059493,0.013552,0.222686,-0.045372,0.027181,-0.282822,-0.143937,-0.160897,0.146159

In [39]:
print(cf_preds_df.values.min(), cf_preds_df.values.max())

-11.731657 143.98174

In [40]:
def recommender_for_user(UserId, interact_matrix, df_content, topn = 3):
    '''
    Recommender Games for UserWarning
    '''
    pred_scores = interact_matrix.loc[UserId].values

    df_scores   = pd.DataFrame({'content_id': list(xtest_df_matrix.columns), 
                               'score': pred_scores})
                                
#     return df_scores

    df_rec      = df_scores.set_index('content_id')\
                    .join(df_content.set_index('content_id'))\
                    .sort_values('score', ascending=False)\
                    .head(topn)[['score', 'SubjectId']]
    df_rec = df_rec[df_rec.score > 0]
 #   rec = df_rec.iloc[1:4,:]
    return df_rec

#### Test 1

In [50]:
# Content previously learned by the user
recommender_for_user(UserId         = 4, 
                     interact_matrix = xtest_df_matrix, 
                     df_content      = articles_df)

            score               SubjectId
content_id
185           3.0       [3, 32, 144, 204]
169           1.0  [3, 32, 144, 202, 203]
525           1.0        [3, 32, 42, 212]

In [83]:
# Recommender

rec = recommender_for_user(UserId         = 4, 
                     interact_matrix = cf_preds_df, 
                     df_content      = articles_df)
pd.DataFrame(rec)

               score           SubjectId
content_id
185         2.953835   [3, 32, 144, 204]
525         0.766846    [3, 32, 42, 212]
157         0.374250  [3, 32, 144, 1203]

In [84]:
rec_content_pretty_name = list(rec['SubjectId'])
rec_content_pretty_name

['[3, 32, 144, 204]', '[3, 32, 42, 212]', '[3, 32, 144, 1203]']

In [ ]:
subjects = df2.loc[df2['SubjectId'] == rec_content_pretty_name]
subjects = subjects[['SubjectId','content_name']]

In [54]:
select_rows = xtest_df.loc[(xtest_df['SubjectId'] == '[3, 32, 144, 1203]')
                           & (xtest_df['UserId'] == 4)]
select_rows

Empty DataFrame
Columns: [UserId, SubjectId, IsCorrect, content_id]
Index: []

#### Test 2

In [69]:
# Content previously learned by the user
recommender_for_user(UserId         = 118963, 
                     interact_matrix = xtest_df_matrix, 
                     df_content      = articles_df)

            score         SubjectId
content_id
965           6.0  [3, 71, 74, 181]
521           2.0  [3, 32, 42, 210]
678           2.0  [3, 49, 50, 152]

In [70]:
# Recommender

rec = recommender_for_user(UserId         = 118963, 
                     interact_matrix = cf_preds_df, 
                     df_content      = articles_df)
pd.DataFrame(rec)

               score         SubjectId
content_id
965         5.973893  [3, 71, 74, 181]
678         2.033525  [3, 49, 50, 152]
521         1.954723  [3, 32, 42, 210]